.custom-table {
  width: 80%;
  height: 50%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
}

.search-input {
  margin-right: 2%;
  width: 30%;
  height: 36px;
  padding: 0 8px;
  font-size: 14px;
}

.search-select {
  margin-right: 8px;
  width: 10%;
  height: 41px;
  font-size: 14px;
}

.search-button {
  height: 36px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 16px;
}
.button-container {
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 0 auto;
  width: 39%;
  margin-top: 16px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rwd-table {
  margin: auto;
  min-width: 700px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
  text-align: center;
}

.rwd-table td {
  display: block;
  text-align: center;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ': ';
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: center;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}

.rwd-table tr:hover:not(:first-child) {
  background-color: #d8e7f3;
}
.rwd-table td:before {
  display: none;
}
.rwd-table th,
.rwd-table td {
  display: table-cell;
  padding: 0.25em 0.5em;
}
.rwd-table th:first-child,
.rwd-table td:first-child {
  padding-left: 0;
}
.rwd-table th:last-child,
.rwd-table td:last-child {
  padding-right: 0;
}
.rwd-table th,
.rwd-table td {
  padding: 1em !important;
}
